.navbar {
  overflow: hidden;
  background-color: #393337;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #222022;
  color: white;
}

.active {
  background-color: #776a52;
}
